@import '../../components/variables.css';

.thumbnail {
  margin-bottom: 20px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.leftSpace {
  margin-left: 0.5em;
}

.toRight {
  float: right;
  margin-left: 0.5em;
}

.itemListGroupItem {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

.groupImage {
  max-width: 100%;
}

.itemListGroupItem .thumbnail {
  margin-bottom: 0;
}
