@import '../../components/variables.css';

.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 16px;
  width: 100%;
  outline: 0;
  border: 1px solid #373277;
  border-radius: 0;
  background: #373277;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3333333;
  cursor: pointer;
}

.button:hover {
  background: rgba(54, 50, 119, 0.8);
}

.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}

.checkoutProgress {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.checkoutProgressBar {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  height: 150px;
  padding: 0 0 20px;
}

.checkoutProgressBar li {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 50px;
}

.checkoutProgressBar li:first-child::before,
.checkoutProgressBar li:last-child::after {
  content: '';
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 5px;
  background-color: #e3e3e3;
}

.checkoutProgressBar li:first-child::before {
  border-radius: 3px 0 0 3px;
}

.checkoutProgressBar li:last-child::after {
  border-radius: 0 3px 3px 0;
}

.checkoutProgressBar li::after {
  content: '';
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 5px;
  background-color: #e3e3e3;
}

.checkoutProgressBar li::before {
  content: '';
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 5px;
  background-color: #e3e3e3;
}

.checkoutProgressBar li.visited::before,
.checkoutProgressBar li.visited::after,
.checkoutProgressBar li.visited .progressStedBadge {
  background-color: #23566d;
  color: #fff;
}

.checkoutProgressBar li.active::before,
.checkoutProgressBar li.active .progressStedBadge {
  background-color: #23566d;
  color: #fff;
}

.progressStedBadge {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #e3e3e3;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .progressStedBadge {
    width: 34px;
    height: 34px;
    font-size: 0.8rem;
  }
}

.progressStedLabel {
  position: absolute;
  left: 0;
  top: 55px;
  width: 100%;
  text-align: center;
}
