@import '../variables.css';

/*
 * normalize.css is imported in JS file.
 * If you import external CSS file from your internal CSS
 * then it will be inlined and processed with CSS modules.
 */

/*
 * Base styles
 * ========================================================================== */
#app {
  min-height: 100%;
}

html {
  color: #222;
  font-weight: 100;
  font-size: 1em;
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

[role=button] {
  cursor: pointer;
}

html,
body {
  height: 100%;
  margin: 0;
}

.content {
  min-height: calc(100vh - 155px);
}

a {
  color: #0074c2;
  color: #afa5c3;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
