@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 380px;
}

.lead {
  font-size: 1.25em;
}

.formGroup {
  margin-bottom: 15px;
}

.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 16px;
  width: 100%;
  outline: 0;
  border: 1px solid #373277;
  border-radius: 0;
  background: #373277;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3333333;
  cursor: pointer;
}

.button:hover {
  background: rgba(54, 50, 119, 0.8);
}

.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}

.facebook {
  border-color: #3b5998;
  background: #3b5998;
  composes: button;
}

.facebook:hover {
  background: #2d4373;
  color: #fff;
}

.google {
  border-color: #dd4b39;
  background: #dd4b39;
  composes: button;
}

.google:hover {
  background: #c23321;
  color: #fff;
}

.twitter {
  border-color: #55acee;
  background: #55acee;
  composes: button;
}

.twitter:hover {
  background: #2795e9;
  color: #fff;
}

.icon {
  display: inline-block;
  margin: -2px 12px -2px 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}
